.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background: #808080 ;
    border-radius: 10px;
}